:root {
  --background-black : #000000;
  --background-color-wifi: #1D8328;
  --background-color-wired: #CC33CA;
  --background-color-bluetooth: #9087F6;

  --size-jack: 0.8rem;
  --size-usb: 1.2rem;
  --size-rj45: 1.6rem;

  --opacity: '100';
  color: rgba(255, 255, 255, 0.87);
}

@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Chakra+Petch:wght@700&family=IBM+Plex+Mono:wght@300&family=Orbitron:wght@700&display=swap');

.font-cyborg {
  font-family: 'Orbitron', sans-serif;
  font-style: normal;
  font-weight: 700;
}

.font-ai {
  font-family: 'Chakra Petch', sans-serif;
  font-style: normal;
  font-weight: 700;
}

.font-human {
  font-family: 'Bungee', sans-serif;
  font-style: normal;
  font-weight: 400;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  background-color: var(--background-black);
  font-size: 20px;
}

p, a, div, button, label, input {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 300;
  font-style: normal;
}

img {
    max-width: 100%;
    height: auto;
}

.card {
  padding: 2em;
}

#app {
  width: 100%;
}
